@{
	ViewData["Title"] = "О Мише";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	<img src="~/images/photo5299037312031767883.jpg" height="300" width="300" alt="ASP.NET" class="img-responsive" />
	<strong>Школа Кингс Кидс, 10 класс</strong><br />
</address>

<address>
	<strong>Support:</strong> <a href="mailto:Misha47236438745626735@mail.ru">Misha47236438745626735@mail.ru</a><br />
	<strong>Marketing:</strong> <a href="mailto:Misha47236438745626735@mail.ru">Misha47236438745626735@mail.ru</a>
</address>