@{
    ViewData["Title"] = "Об авторе";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	<img src="~/images/photo_alena.jpeg" height="200" width="200" alt="ASP.NET" class="img-responsive" />
	<strong>ГБОУ "Содружество", 1В</strong><br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Alena.Mendueva@mail.ru">Alena.Mendueva@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:Alena.Mendueva@mail.ru">Alena.Mendueva@mail.ru</a>
</address>
